<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Somos una distribuidora mayorista de la ciudad de La Plata. ¡Tenemos artículos de mercería, bijouterie, telas, lanas y mucho más! Ventas al por mayor y menor. Realizamos envíos a todo el país!">
    <meta name="keywords"
        content="distribuidora, merceria, bijouterie, lanas, hilos, botones, cierres, laplata, textil, ykk, telas, envios">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Contacto</title>
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-light navbar-1 white">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="../index.html"><img src="../img/pp.png"
                    class="rounded-circle rotate-vert-center" alt="logo"></a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/preguntas-frecuentes.html">Preguntas frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>

                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    </header>

    <hr>

    <main>
        <h1>CONTACTO</h1>
        <section id="contact">
            <div class="container">
                <div class="well well-sm">
                    <h3>Contactate con nosotros</h3>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.840840035037!2d-57.951216484762114!3d-34.91044348038124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e6383bd89415%3A0x40b132ba9b870f4!2sCalle%2047%20456%2C%20B1900AJT%20La%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1595100240079!5m2!1ses!2sar"
                            width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="col-md-5">
                        <h4>Escribínos, y con gusto nos pondremos en contacto a la brevedad.</h4>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" name="" value=""
                                    placeholder="Nombre y apellido">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="" value="" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" name="" value="" placeholder="Telefono">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="" value="" placeholder="Direccion">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="" value="" placeholder="Localidad">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="" value="" placeholder="Provincia">
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" name="" rows="3" placeholder="Consulta"></textarea>
                            </div>

                            <button class="btn btn-default" type="submit" name="button">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Enviar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>



    </main>

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <a class="navbar-brand" href="../index.html"><img class="rotate-vert-center rounded-circle"
                            src="../img/pp.png" class="rounded-circle" alt="logo"></a>

                </div>
                <!-- Grid column -->

                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4">DONDE ENCONTRARNOS</h5>
                    <p>Calle 47 n°456.</p>
                    <p> La Plata - Argentina.</p>
                    <p>Cel: (2267)-523291</p>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">HORARIOS DE ATENCIÓN</h5>

                    <p>Lunes a sábado</p>
                    <p>9hs. a 20hs.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">MAIL</h5>
                    <p>distribuidora43arg@gmail.com</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>

</html>