<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Somos una distribuidora mayorista de la ciudad de La Plata. ¡Tenemos artículos de mercería, bijouterie, telas, lanas y mucho más! Ventas al por mayor y menor. Realizamos envíos a todo el país!">
    <meta name="keywords"
        content="distribuidora, merceria, bijouterie, lanas, hilos, botones, cierres, laplata, textil, ykk, telas, envios">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Novedades</title>
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-light navbar-1 white">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="../index.html"><img src="../img/pp.png"
                    class="rounded-circle rotate-vert-center" alt="logo"></a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/preguntas-frecuentes.html">Preguntas frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contacto.html">Contacto</a>
                    </li>

                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    </header>

    <hr>

    <main>
        <h1>NOVEDADES</h1>

        <div class="container">
            <div class="row">
                <div class="items">
                    <h3>Gemas acrilicas</h3>
                    <p>En Distribuidora 43 te ofrecemos las gemas más lindas, con toda la variedad de medidas y colores
                        para
                        que puedas convertir en realidad tus proyectos.</p>
                </div>

            </div>

            <div class="row">
                <div class="items col-sm-12 col-lg-12">
                    <img class="img-responsive img-res tilt-in-fwd-tr" src="../img/gemas.jpg" alt="Gemas acrilicas">
                </div>

            </div>

            <div class="row">
                <div class="items col-sm-12 col-lg-12">
                    <h3>Apliques bordados</h3>
                    <p>Con estos apliques podes decorar jeans, gorros, remeras y bolsos. ¡Listos para planchar y pegar!
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="items col-sm-12 col-lg-12">
                    <img class="img-responsive img-res tilt-in-fwd-tr" src="../img/apliques.jpg"
                        alt="Apliques bordados">
                </div>

            </div>

            <div class="row">
                <div class="items col-sm-12 col-lg-12">
                    <h3>Galones fantasía</h3>
                    <p>¿Dorado o Plateado? ¡En Distribuidora 43 hay galones para todos los gustos!

                    </p>
                </div>
            </div>

            <div class="row">
                <div class="items col-sm-12 col-lg-12">
                    <img class="img-responsive img-res tilt-in-fwd-tr" src="../img/galon.jpg" alt="Galones fantasía">
                </div>

            </div>
        </div>


    </main>

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <a class="navbar-brand" href="../index.html"><img class="rotate-vert-center rounded-circle"
                            src="../img/pp.png" class="rounded-circle" alt="logo"></a>

                </div>
                <!-- Grid column -->

                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4">DONDE ENCONTRARNOS</h5>
                    <p>Calle 47 n°456.</p>
                    <p> La Plata - Argentina.</p>
                    <p>Cel: (2267)-523291</p>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">HORARIOS DE ATENCIÓN</h5>

                    <p>Lunes a sábado</p>
                    <p>9hs. a 20hs.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">MAIL</h5>
                    <p>distribuidora43arg@gmail.com</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>

</html>