<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Somos una distribuidora mayorista de la ciudad de La Plata. ¡Tenemos artículos de mercería, bijouterie, telas, lanas y mucho más! Ventas al por mayor y menor. Realizamos envíos a todo el país!">
    <meta name="keywords"
        content="distribuidora, merceria, bijouterie, lanas, hilos, botones, cierres, laplata, textil, ykk, telas, envios">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Preguntes frecuentes</title>
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-light navbar-1 white">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="../index.html"><img src="../img/pp.png"
                    class="rounded-circle rotate-vert-center" alt="logo"></a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
                aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent15">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./preguntas-frecuentes.html">Preguntas frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contacto.html">Contacto</a>
                    </li>

                </ul>
                <!-- Links -->

            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    </header>

    <hr>

    <main>
        <h1>PREGUNTAS FRECUENTES</h1>

        <div class="container my-5">


            <!--Section: Content-->
            <section>


                <!-- Section heading -->
                <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">A continuación se encuentran las preguntas
                    frecuentes, puede encontrar la respuesta usted mismo.</h3>
                <h6 class="font-small grey-text mb-4 text-center">En caso de no
                    encontrar la respuestas, puedes comunicarte con nosotros por cualquiera de las vías de contacto
                    haciendo click en el siguiente <a href="../views/contacto.html">Link.</a></h6>
                <hr class="w-header">
                <!-- Section description -->

                <div class="row">
                    <div class="col-md-12 col-lg-10 mx-auto mb-5">

                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card border-top border-bottom-0 border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1"
                                        aria-expanded="true" aria-controls="collapseOne1">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            ¿Cuál es la compra mínima?</h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel"
                                    aria-labelledby="headingOne1" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <p>Al ser una Distribuidora mayorista, la empresa ha dispuesto como compra
                                            mínima $1000. Los productos que
                                            comercializamos traen en su descripción la cantidad por la que se venden.
                                            Nuestras ventas se orientan
                                            básicamente a los comercios, artesanos, confeccionistas y
                                            micro-emprendedores.</p>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card border-bottom-0 border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                        href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            ¿Qué medios de pago aceptan?
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                    data-parent="#accordionEx">
                                    <div class="card-body">
                                        <p>Realizando la compra en nuestra web se puede hacer el pago online mediante
                                            MercadoPago con tarjetas de crédito VISA, MASTER, OCA, DINERS, Y LÍDER.

                                            En forma off line, se puede realizar el pago mediante redes de cobranza
                                            (Abitab y Redpagos), o también mediante transferencia bancaria o depósito
                                            bancario.</p>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card border-bottom-0 border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                        href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            ¿Por dónde me envían mi compra y cuánto demora?
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseThree3" class="collapse" role="tabpanel"
                                    aria-labelledby="headingThree3" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <p>Los envíos son realizados a través de DAC. Una vez realizada la compra y
                                            confirmado el pago, podemos entregar el pedido con un mínimo de 72 horas.
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card border-left border-right border-light">

                                <!-- Card header -->
                                <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                        href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                        <h5 class="black-text font-weight-normal mb-0">
                                            ¿Dónde me comunico ante cualquier duda o consulta?

                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapseThree4" class="collapse" role="tabpanel"
                                    aria-labelledby="headingThree4" data-parent="#accordionEx">
                                    <div class="card-body">
                                        <p>Cualquier duda o consulta estamos a las órdenes a través del Chat que tenemos
                                            en nuestra Web y por correo electrónico a
                                            info@ec2-18-231-174-28.sa-east-1.compute.amazonaws.com</p>
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->

                        </div>
                        <!-- Accordion wrapper -->

                    </div>
                </div>

            </section>


        </div>

    </main>

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <a class="navbar-brand" href="../index.html"><img class="rotate-vert-center rounded-circle"
                            src="../img/pp.png" class="rounded-circle" alt="logo"></a>

                </div>
                <!-- Grid column -->

                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4">DONDE ENCONTRARNOS</h5>
                    <p>Calle 47 n°456.</p>
                    <p> La Plata - Argentina.</p>
                    <p>Cel: (2267)-523291</p>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">HORARIOS DE ATENCIÓN</h5>

                    <p>Lunes a sábado</p>
                    <p>9hs. a 20hs.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">MAIL</h5>
                    <p>distribuidora43arg@gmail.com</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>

</html>